[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
openpyxl = "*"
pandas = "*"
plotly = "*"
lightgbm = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
japanize-matplotlib = "*"
psutil = "*"
requests = "*"

[requires]
python_version = "3.7"
